@{
    var data = ViewBag.Members as IPagedList<Members>;
    int x = 0;
    
}
@model Members

<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="well padding-10">

                    <!-- widget content -->
                    <div class="widget-body">
                        @using (Html.BeginForm("Members", "MemberMs", new { p = ViewBag.pageNumber }, FormMethod.Post, new { @id = "form" }))
                        {
                        <div class="widget-body-toolbar">

                            <div class="row">

                                <div class="form-inline">
                                    <div class="col-sm-10">
                                        <input type="text" name="account" id="account" class="form-control" value="@(ViewBag.Account)" />
                                        @Html.DropDownListFor(model => model.Levelid , null , "--請選擇--", new Dictionary<string, object>() { { "class", "form-control" } })
                                        <button class="btn btn-info btn-labeled" type="submit"> <span class="btn-label"><i class="fa fa-search"></i></span>查詢</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn btn-success btn-labeled" href="@Url.Action("AddMembers", "MemberMs")"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增會員 </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered table-striped smart-form">
                                <thead>
                                    <tr>
                                        <th width="15%" class="text-center">層級</th>
                                        <th class="text-center">Facebook帳號</th>
                                        <th width="10%" class="text-center">是否真人帳號</th>
                                        <th width="10%" class="text-center">VIP購買紀錄</th>
                                        <th width="10%" class="text-center">回饋金申請紀錄</th>
                                        <th width="10%" class="text-center">編輯</th>
                                        <th width="10%" class="text-center">刪除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Members entity in data)
                                    {
                                        <tr>
                                            <td class="text-center">@entity.Memberlevel.Levelname</td>
                                            <td class="text-center">@entity.Account</td>
                                            <td class="text-center">@entity.Isreal</td>
                                            <td class="text-center"><a href="@Url.Action("Viprecord", "MemberMs", new { Memberid = entity.Memberid })" class="btn btn-info btn-xs"><i class="fa fa-paper-plane-o"></i></a></td>
                                            <td class="text-center"><a href="@Url.Action("Feedbackrecord", "FeedbackMs", new { Memberid = entity.Memberid })" class="btn btn-info btn-xs"><i class="fa fa-book"></i></a></td>
                                            <td class="text-center"><a href="@Url.Action("EditMembers", "MemberMs", new { Memberid = entity.Memberid, p = ViewBag.pageNumber })" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a></td>
                                            <td class="text-center"><a href="#" class="btn btn-danger btn-xs del" data-href="@Url.Action("DeleteMembers", "MemberMs", new { Memberid = entity.Memberid, p = ViewBag.pageNumber })" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i></a></td>
                                        </tr>
                                        x++;
                                    }
                                </tbody>
                            </table>

                        </div>
                        }
                    </div>
                    <!-- end widget content -->

                    <div class="text-center">
                        @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Members", new { p = page }))
                    </div>

                </div>

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">確認</h4>
            </div>
            <div class="modal-body">
                <p>
                    確定要刪除嗎？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <a href="#" class="btn btn-primary btn-ok">
                    確定
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {

}