@{ 
    var Guide = (IEnumerable<Guide>)ViewBag.Guide;
    var GuideContents = ViewBag.GuideContents;
}
<main id="main">
    <section class="banner-container" style="background-image: url('/Content/images/banner.png')">
        <div class="restrict allpadding">
            <h1>網站使用導引</h1>
        </div>
    </section>
    <section class="bg-purple support-block">
        <div class="block_container">
            <div class="restrict allpadding">
                <div class="support-menu">
                    <h2>幫助中心</h2>
                    <div class="list-opener">
                        <ul class="reduced">
                            @foreach(Guide GuideList in Guide)
                            {
                                <li><a href="@Url.Action("Guide", "RuleMs", new { Guideid = GuideList.Guideid })">@GuideList.Guidelang.FirstOrDefault( g => g.Langid == 1).Title</a></li>
                            }
                        </ul><a class="opener" href="javascript:;">
                            <div class="icon_arrow_down glyphicon glyphicon-menu-down" aria-hidden="true"> </div>
                            <p class="open-more">查看<br>更多</p>
                        </a>
                        <ul class="all-menu">
                            @foreach (Guide GuideList in Guide)
                            {
                                <li><a href="@Url.Action("Guide", "RuleMs", new { Guideid = GuideList.Guideid })">@GuideList.Guidelang.FirstOrDefault(g => g.Langid == 1).Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="support-content">
                    <h3>@ViewBag.Title</h3>
                    <div class="support-text">
                        @Html.Raw(ViewBag.Contents)
                    </div>

                </div>
            </div>
        </div>
        <div class="clear">
            <div class="restrict allpadding"><a class="scroll-top" id="backTop"><img src="~/Content/images/scroll_top.png"><span>置頂</span></a></div>
        </div>
    </section>
</main>