<header id="header">
    <div class="header_inner">
        <a class="head_logo" href="@Url.Action("Home", "HomeMs")" title="首頁"><img class="retina" src="~/Content/images/logo.png" alt="logo"></a>
        <nav class="head_nav">
            <!--a標籤的 class 加入 current 表示現在所在頁面-->
            <ul>
                <li><a href="@Url.Action("Order" , "OrderMs")" title="開始使用">開始使用</a></li>
                <li><a href="@Url.Action("About", "HomeMs")" title="關於我們">關於我們</a></li>
                <li><a href="@Url.Action("Guide" , "RuleMs")" title="使用教學">使用教學</a></li>
                <li><a href="@Url.Action("Deposit", "DepositMs")" title="購買VIP">購買VIP</a></li>
            </ul>
            <!--↓未登入時顯示↓-->
            @if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
            {
                <ul class="fb-login">
                    <li>
                        <a class="Member" href="@Url.Action("Member", "MemberMs")">會員中心</a>
                        <a class="logout" href="@Url.Action("Logout" , "HomeMs")">登出</a>
                    </li>
                    <li>
                        <a href="https://www.hdzbulk.com/index.php/tw" , target="_blank" , title="HDz行銷平台">HDz行銷平台</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="fb-login">
                    <li>
                        <a class="logout" href="@Url.Action("Login" , "HomeMs")" title="登入">登入</a>
                    </li>
                    <li><a href="https://www.hdzbulk.com/index.php/tw" target="_blank">HDz行銷平台</a></li>
                </ul>
            }
        </nav><a id="btn_menu" href="javascript:;" title="選單"><span></span></a>
    </div>
</header>