<div id="sideBar">
    <div class="sideBar_inner">
        <div class="sb_logo"><a href="@Url.Action("Home", "HomeMs")"><img src="~/Content/images/logo.png" alt="index"></a></div>
        <nav class="sb_menu">
            <!--a標籤的 class 加入 current 表示現在所在頁面-->
            <ul>
                <li><a href="@Url.Action("Order", "OrderMs")" title="免費使用">免費使用</a></li>
                <li><a href="@Url.Action("About", "HomeMs")" title="關於我們">關於我們</a></li>
                <li><a href="@Url.Action("Guide", "RuleMs")" title="使用教學">使用教學</a></li>
                <li><a href="@Url.Action("Deposit", "DepositMs")" title="購買VIP">購買VIP</a></li>
            </ul>
            <div class="divider"></div>
            @if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
            {
                <ul class="fb-login">
                    @if (ViewBag.Remainday == null || ViewBag.Remainday == 0)
                    {
                        <li><a href="@Url.Action("Member", "MemberMs")" title="會員中心">會員中心</a><a href="@Url.Action("Deposit" , "DepositMs")" title="VIP">購買Vip</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Member", "MemberMs")" title="會員中心">會員中心</a><a href="@Url.Action("Deposit" , "DepositMs")" title="VIP">VIP-@ViewBag.Remainday 天</a></li>
                    }
                    <li><a href="https://www.hdzbulk.com/index.php/tw" target="_blank">HDz行銷平台</a></li>
                    <li><a class="logout" href="@Url.Action("Logout", "HomeMs")">登出</a></li>
                </ul>
            }
            else
            {
                <ul class="fb-login">
                    <li><a href="@Url.Action("Login", "HomeMs")" title="登入">登入</a></li>
                </ul>
            }
        </nav><a class="btn_close" href="javascript:;"></a>
    </div>
</div>