@{ 
    var Vipdetail = (IEnumerable<Vipdetail>)ViewBag.Vipdetail;
}
@model Members
<main id="main">
    <section class="banner-container" style="background-image: url('/Content/images/banner.png')">
        <div class="restrict allpadding">
            <h1>VIP 會員</h1>
            <div class="content-block">
                <div class="about-content">
                    <p>購買HeO平台的月制VIP後，使用冷卻會大幅度下降，並且HeO承諾您的帳號不會加入互惠被其他人使用，至於開放買家購買您帳號服務您也可以自由選擇開放或關閉<br>(VIP默認互惠關閉不被使用，授權獎金服務可自由決定是否開放使用)</p>
                    <ul>
                        <li data-num="(ㄧ)">VIP屬於付費服務。</li>
                        <li data-num="(二)">若非台灣使用者，可以聯繫管理員使用「PayPal」或「WeChat微信錢包」「SKrill」儲值。</li>
                        <li data-num="(三)">可使用「超商（7-11、全家、萊爾富、OK）代碼繳費」、「轉帳付款」、「信用卡」儲值。</li>
                        <li data-num="(四)"> <strong>注意儲值之點數無法進行退款 （不接受任何原因，儲值後即同意規定）。</strong></li>
                        <li data-num="(五)">我們是使用第三方金流「EZpay」，讓你付款安心無疑！</li>
                        <li data-num="(六)">儲值金額10000元（含）以上只能使用「超商代碼繳費」或「轉帳付款」，9999元以下皆可使用，超過10000元以上若需要使用「信用卡」請聯繫管理員詢問處理</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="vip-container">
        <div class="restrict allpadding">
                @using (Html.BeginForm("Deposit", "DepositMs", FormMethod.Post, new { @class = "vip_form" }))
                {
                <div class="form_block">
                    <h2 class="title">購買金額(新台幣)</h2>
                    <div class="content-block">
                        <div class="price_choose">
                            @foreach (Vipdetail VipdetailList in Vipdetail)
                            {
                                <div class="item">
                                    <label>
                                        <input type="radio" name="Money" value="@VipdetailList.Money" onclick="send('@VipdetailList.Money');" required>@VipdetailList.Money 元( @VipdetailList.Day 天)
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form_block">
                    <h2 class="title">選擇付款方式</h2>
                    <div class="content-block">
                        <div class="content">
                            <div class="payment_method">
                                <div class="item">
                                    <input id="payment1" type="radio" name="Payway" value="0" required>
                                    <div class="text">
                                        <label for="payment1">超商代碼繳費(7-11、全家、萊爾富、OK)</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <input id="payment2" type="radio" name="Payway" value="1" required>
                                    <div class="text">
                                        <label for="payment2">轉帳付款</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <input id="payment3" type="radio" name="Payway" value="2" required>
                                    <div class="text">
                                        <label for="payment3">信用卡</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_block">
                    <h2 class="title">總計</h2>
                    <div class="content-block">
                        <div class="payment_method">
                            <div class="item font_gray">
                                <h3>新台幣 <span class="font-purple" id="pay">元</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="btn submit" type="submit">確認送出</button>
                </div>
            }
        </div>
    </section>
</main>

@section scripts
{
    <script>
        function send(Money)
        {
            $.ajax({
                url: '@Url.Action("AjaxDeposit", "Ajax")',
                data: { Money: Money },
                type: 'post',
                dateType: 'json',
                success: function (response){
                    $('#pay').html(response['Money']+'元')
                }
            });
        }
    </script>
}